<%- include('partials/header'); %> 
<h1>Hello</h1>
<p><%= homeSContent %> </p>
<% posts.forEach(function(post){ %>
    <h2><a href="/posts/<%= post.title %>"><%= post.title %></a></h2>
    <p><%= post.body.substring(0,100) + " ..." %> 
    <a href="/posts/<%= post.title %>">Read More</a>
    </p>
    <% }); %>

<%- include('partials/footer'); %> 